body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000; /* Heading color set to black */
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #e0e0e0; /* Table header color set to grey */
}

th, td {
    padding: 12px;
}

tfoot th {
    text-align: right;
}

.payment-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-section {
    flex-basis: 48%;
}

.info-section h2 {
    color: #000; /* Subheading color set to black */
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

#downloadPdf {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
}
